*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    transition: 0.7s;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    transition: 1s;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
  }
  .container {
    position: relative;
    bottom: 2rem;

  }
  .photo {
    position: relative;
    display: flex;
    left: 55rem;
    bottom: 10rem;
    width: 30rem;
    height: 30rem;
  }
  .text-container{
   margin-top: 130px;
   max-width: 50rem;
   max-height: 10rem;
   padding: 0rem 5rem 0rem 5rem;
    font-family: Cursive;
  }
  .text-container h1{
    font-size: 45px;
    margin-bottom: 40px;

  }
  .text-container p{
    margin-bottom: 40px;
    font-weight:10;
    color: gray;
   
   
  }

  .text-container .logo {
    font-size: 45px;
    margin-bottom: 40px;
    font-family:Sans-serif	;
  }
  
  .photo::after {
    content: "";
    position: absolute;
    top: -1200px;
    left: -20px;
    width: 30rem;
    height: 30rem;
    background: #eda842;
    z-index: -1;
    transition: 1s;
    border-radius: 1rem;
  }
  .photo:hover::after {
    top: -28px;
    left: -21%;
  }
  .icon {
    font-size: 1.4rem;
    margin: 1rem;
  
   
  }
  
  .icon i {
    cursor: pointer;
  }
  .icons {
    position: relative;
    display: flex;
    justify-content: center;
   bottom: 5rem;
  }
  
  .theme {
    background-color: #000;
    color: #fff;
  }
  /* @media screen and (max-width: 768px) {
    .photo::after {
      width: 25rem;
      height: 25rem;
      left: -10px;
    }
  } */